/*.lock
/.idea
/node_modules
/app/config/mongo.production.notes
/app/config/config.production.json
/app/config/config.notify.json
/npm-debug.log
/public/gallery/high/
/public/gallery/original/
/app/data/user.list.json
/extra/mongodb/*.wt
/extra/mongodb/*.lock
/extra/mongodb/*.turtle
/extra/mongodb/*.bson
/extra/mongodb/WiredTiger
/extra/mongodb/journal/*
/extra/mongodb/diagnostic.data/*