#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

img.center {
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:600px; /* you can use % */
    /*width: 50%;*/
    height: auto;
}
body {
    background: white }
section {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.kotoGitHubLink {
    right: 0px;
    top: 0px;
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
    background: url('../images/octocat-64.png') bottom;
    text-indent: -99999px;
    padding: 2px;
}
.kotoGitHubLink:hover {
    /*cursor: crosshair;*/
    background: url('../images/octocat-64-green.png') bottom;
}

div#preload { display: none; }
