html {
    background: url(../images/koti-air.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img.center {
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:600px; /* you can use % */
    /*width: 50%;*/
    height: auto;
}
body {
    background: white }
section {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
